.headerInfo {
    height: 75px;
    border-bottom: solid 1px white;
    

}

.headerInfo div {
    display: inline-block;
}

.orgnazitionName{
    text-align: left;
    font-size: 27px;
    line-height: 75px;
    margin-left: 2.6%;
    font-family: 'STHeiti', 'SimHei';
}

.total{
    margin-left: 3%;
    font-size: 20px;
}

button{
    cursor: pointer;
}

button.recharge{
    margin-left: 5px;
}

button.quit{
    width: 100px;
    height: 40px;
    float: right;
    margin-right: 40px;
    margin-top: 15px;
}