.func{
	height: 60px;
	position: relative;
/*	overflow: hidden;
*/}

select.statement{
	float: left;
	width: 170px;
	height: 40px;
	margin-top: 10px;
	margin-left: 3%;
}

p{
	float: left;
	display: inline-block;
	margin-left: 1%;
	margin-top: 0px;
	font-size: 16px;
	line-height: 30px;
}

select.step{
	float: left;
	width: 100px;
	height: 30px;
	margin-top: 16px;
	margin-left: 2%;
}

.search{
	float: left;
	width: 150px;
	height: 30px;
	padding-left: 10px;
	margin-left: 2%;
	outline: none;
	border: solid 1px lightgray;
	border-right: none;
}

/*.searchLogo {
	display: inline-block;
	overflow: hidden;
	margin-top: 0px;
}*/

.searchImg{
	cursor: pointer;
}

img {
	float: left;
	width: 29px;
	margin-left: 0px;
	border: solid 1px lightgray;
	border-left: none;
}

.btnWrapper{
	float: right;
	display: inline-block;
	width: 26%;
	margin-right: 2%;
}

.btnWrapper button{
	float: right;
	width: 19%;
	height: 30px;
	margin-left: 1%;
}

.cascader{
	float: left;
	margin-left: 40px;
	width: 300px;
}

