@import '~antd/dist/antd.css';

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
  background: rgba(255, 250, 225, 0.3);
  color: black;
}

#root{
	min-width: 1080px;
	max-width: 1600px;
	margin: 0 auto;
/*	background: #fffae1;
*/	color: black;
  border: solid 1px white;
}
